<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>拳皇动画.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18104AC21D64B88B009226FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18104ADB1D64B88B009226FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18104AE61D64B88B009226FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
