<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>购物车尝试(代理模式).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18ED6BD21D6C3A81001E7A76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18ED6BEB1D6C3A82001E7A76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18ED6BF61D6C3A82001E7A76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
