<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UIButton(在代码中的使用).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18104D9C1D64C90B009226FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18104DB51D64C90C009226FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18104DC01D64C90C009226FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
