<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>导航控制器跳转.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18965D2D1D7D388F00A82594</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18965D461D7D388F00A82594</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18965D511D7D388F00A82594</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
