<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UIScrollView的基本使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>187150BB1D65DEE4008E471D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>187150D41D65DEE6008E471D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>187150DF1D65DEE6008E471D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
