<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UIButton内部子控件的调整.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18714F951D65A044008E471D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18714FAE1D65A045008E471D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18714FB91D65A045008E471D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
