<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>展示多组数据.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18ED6F111D6D8B8B001E7A76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18ED6F2A1D6D8B8B001E7A76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18ED6F351D6D8B8B001E7A76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
