<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UIImageView的frame的设置.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18104A011D64AFCD009226FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18104A1A1D64AFCD009226FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18104A251D64AFCD009226FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
