<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>展示汽车数据(简单展示).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18ED6F501D6DB620001E7A76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18ED6F691D6DB621001E7A76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18ED6F741D6DB621001E7A76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
