<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UITableView以及cell的常见属性.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18ED705F1D6E1B02001E7A76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18ED70781D6E1B03001E7A76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18ED70831D6E1B03001E7A76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
